@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://db.onlinewebfonts.com/c/89695c7fc26d5856d8007dc18c42ed03?family=Cyberway+Riders');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}

:root {
    --bg-color: #f5f5f5; /* #081b29 */
    --second-bg-color: #e0e0e0;  /* #112e42 */
    --text-color: #000000;
    --main-color: #ff0000;
    --bg-img: url('Images/BG-w.jpg');
}

/* THEME BUTTON */
.theme-menu {
    position: relative;
}

.option-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    font-size: 14px;
    color: var(--text-color);
  }
  .option-row span {
    white-space: nowrap; /* keep text in one line */
  }  
  
  .theme-options {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    padding: 1rem;
    width: 220px;
    display: none;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
  }
  
/* Show when active */
.theme-options.active {
    display: flex;
}

.dark-mode{
    --bg-color: #0d0d0d;
    --second-bg-color: #1a1a1a;
    --text-color: #f5f5f5;
    --bg-img: url('Images/BG-b.jpg');
    background-color: var(--bg-color);
}

.switch{
    width: 50px;
    height: 35px;
    position: relative;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 4px;
}

.slider i{
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    font-size: 16PX;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #555;
    justify-content: flex-end;
  }

input:checked + .slider i {
    transform: rotate(360deg);
  }


html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

#color-picker{
    background: conic-gradient(red,orange,yellow,green,blue,indigo,violet,pink);
    border:2px solid #ffffff;
    border-radius: 50%;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    z-index: 9999;
  }

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.header.sticky{
    background: var(--bg-color);
}

.logo{
    margin-right: 25px;
    font-family: 'Cyberway Riders', 'san-serif';
    position: relative;
    font-size: 25px;
    color: var(--text-color);
    font-weight: 600;
}

.navbar{
    padding: 0 10rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.navbar a {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 25px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 10% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0px 10%;
    background: var(--bg-img);
    background-size: cover;      /* better than 100% */
    background-repeat: no-repeat;
    background-position: center;

    min-height: 100vh;
    bottom: 0;
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
}

.home-content {
    max-width: 600px;
    z-index: 99;
}

.home-content h1{
    position: relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h1 span{
    color: var(--main-color);
}


.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}
.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -33rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-content p{
    position: relative;
    text-align: justify;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
    line-height: 1.2;
}

.home-content .btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

/* A BUTTON */

.btn-box{
    position: relative;
    width: 15rem;
    height: 6rem;
}

/* BUTTON */

.btn-box.btns{
    display: flex;
    justify-content: center;
    width: 100%;
}

.c-btn-box{
    height: 50%;
    display: flex;
    justify-content: center;
}

.c-btn{
    height: 4rem;
}

button:hover{
    background: transparent;
    border:2px solid var(--main-color);
    cursor: pointer;
}

/* BUTTON */

.btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.9rem;
    color: var(--bg-color);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    cursor: pointer;
}

/* Hover Effect */

.btn:hover{
    color: var(--main-color);
    background: transparent;
}

.btn-box a:nth-child(2){
    background: transparent;
    color: var(--main-color);
}

.btn-box a:nth-child(2):hover{
    color: var(--bg-color);
}

.btn-box a:nth-child(2)::before{
    background: var(--main-color);
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: transparent;
    transition: 0.5s;
    z-index: -1;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover{
    color: var(--bg-color);
}

.home-sci a:hover::before{
    width: 100%;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 80rem;
    height: 100%;
    background: transparent;
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
    z-index: 1;
}

.home-imgHover:hover{
    background: var(--bg-color);
    opacity: .8;
}

@keyframes fadeIn {
    to{
        opacity: 1;
    }
}

@keyframes showRight {
    100%{
        width: 0;
    }
}

@keyframes manipActiveHover {
    100% {
        pointer-events: auto;
    }
}

@keyframes homeCursorText {
    0%,10%,100%{
        width: 0;
    }

    65%,
    75%,
    85%{
        width: 100%;
        opacity: 1;
    }

    75%,
    81%{
        opacity: 0;
    }
}

@keyframes homeBgText {
    0%,10%,100%{
        background-position: -33rem 0;
    }

    65%,85%{
        background-position: 0 0;
    }
}

/*About*/

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 7rem;
}

.heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span{
    color: var(--main-color);
}

.about-img{
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img{
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.about-content {
    text-align: center;
}

.about-content h3{
    position: relative;
    display:inline-block;
    font-size: 2.6rem;
}

.about-content p{
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.more-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-in-out;
  }

.more-text.show {
    max-height: 1000px;
}

@keyframes aboutSpinner {
    100%{
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

/* My Journey */

.projects{
    background: var(--second-bg-color);
}


.projects h2{
    margin-bottom: 4rem;
}

.project-section {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap:2.5rem;
}

.project-section .project-box{
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display:flex;
}

.project-box img{
    width: 100%;
    transition: .5s ease;
}

.project-box:hover img{
    transform: scale(1.1);
}

.project-box .project-content{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
}

.project-box:hover .project-content{
    transform: translateY(0);
}

.project-content h4{
    font-size: 3rem;
}

.project-content p{
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.project-content a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.project-content a i{
    font-size: 2rem;
    color: var(--bg-color);
}


/* Skills */

.skills{
    min-height: auto;
    background: var(--bg-color);
    padding-bottom: 10rem;
}

.skills h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column{
    flex: 1 1 40rem;
}

.skills-column .title{
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1rem;
}

.skills-column .skills-box{
    position: relative;
}

.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before{
    width: 100%;
}

.skills-content .progress{
    padding: 1rem 0;
}

.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span{
    color: var(--text-color);
}

.skills-content .progress .bar{
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width: 80%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width: 70%;
}

.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 80%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width: 90%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width: 70%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width: 75%;
}

.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 60%;
}

/* Contact */

.contact{
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2{
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.content form{
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}

.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap ;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footer-text p{
    font-size: 1.6rem;
}

.footer-iconTop a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .3s;
}

.footer-iconTop a:hover::before{
    width: 100%;
}

.footer-iconTop a i{
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i{
    color: var(--main-color);
}

/* BREAKPOINTS */

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
}

@media (max-width:991px){
    .header{
        padding: 2rem 4%;
    }

    section{
        padding: 18rem 4% 2rem;
    }

    .home{
        padding: 0 4%;
    }

    .footer{
        padding:2rem 4% ;
    }
}

@media (max-width:768px){
    .header{
        background: var(--bg-color);
    }

    #menu-icon{
        display: block;
    }

    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        width: 100%;
        left: -100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navbar.active{
        left: 0;
        transition-delay: 0s;
    }

    .navbar .active-nav{
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.active .active-nav{
        left: 0;
        transition-delay: .25s;
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        transition-delay: 0s;
    }

    .navbar.active a{
        transform: translateX(0);
        transition-delay: .25s;
    }

    .home-imgHover{
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }

    .projects .project-section{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media (max-width:520px){
    html{
        font-size: 50%;
    }

    .home-content h1{
        display: flex;
        flex-direction: column;
    }

    .home-sci{
        width: 160px;
    }

    .home-sci a{
        width: 38px;
        height: 38px;
    }

}

@media (max-width:462px){
    .home-content h1{
        font-size: 5.2rem;
    }    

    .projects{
        padding: 10rem 4% 5rem 5%;
    }

    .contact form .input-box .input-field{
        width: 100%;
    }

    .footer{
        flex-direction: column-reverse;
    }

    .footer p{
        margin-top: 2rem;
        text-align: center;
    }
}

@media (max-width:371px){
    .home{
        justify-content: center;
    }

    .home-content{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1{
        font-size: 5rem;
    }
}

/* ANIMATION RELOAD AND SCROLL */

.animate{
    /* display: none; */
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.home.show-animate .animate{
    animation: showRight 1s ease forwards;
    animation-delay:calc(.3s * var(--i)) ;
}

.animate.scroll{
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));
    animation: none;
}

section:nth-child(odd) .animate.scroll{
    background: var(--second-bg-color);
}


.about.show-animate .animate.scroll,
.projects.show-animate .animate.scroll,
.skills.show-animate .animate.scroll,
.contact.show-animate .animate.scroll{
    transition-delay: calc(.3s * var(--i));
    width: 0;
}